@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');


body {
    overflow: hidden;
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 1vw;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.rentuimain {
    display: none;
    position: absolute;
    width: 80vw;
    height: 40vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5vw;
}

.navtoptext, .navdowntext {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: black;
    width: 10vw;
}

.navtopline, .navdownline {
    display: flex;
    position: absolute;
    background-color: gray;
    height: 0.1vw;
    width: 70vw;
}

.navtoptext {
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
}

.navtopline {
    left: 50%;
    top: 7%;
    transform: translate(-50%, -7%);
}

.navdowntext {
    left: 50%;
    top: 95%;
    transform: translate(-50%, -95%);
}

.navdownline {
    left: 50%;
    top: 93%;
    transform: translate(-50%, -93%);
}

.vehicles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    gap: 3vw;
}

.vehicles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vw;
    width: 16vw;
    background-color: rgba(39, 4, 97, 0.5);
}

.vehicleprice {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -25%;
    transform: translate(0, 25%);
    color: green;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5vw 1vw;
    margin-bottom: 1vw;
}

.amount {
    color: white;
}

.currency {
    color: green;
    margin-left: 0.3vw;
}

.vehicleimg {
    display: flex;
    position: absolute;
    width: 15vw;
    height: auto;
    width: 15vw;
    margin-bottom: 1vw;
}

.vehiclename {
    display: flex;
    position: absolute;
    top: 90%;
    transform: translate(0, -90%);
    color: rgb(155, 155, 155);
    margin-bottom: 1vw;
}

.selectvehicle {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 105%;
    color: white;
    width: 10vw;
    height: 2vw;
    cursor: pointer;
    border: none;
    line-height: 2.5vw;
    font-size: 1.1vw;
    background-color: rgba(100, 100, 100, 0.8);
}

.selectvehicle:hover {
    background-color: rgba(140, 0, 255, 0.8);
}

.nextvehicle, .backvehicle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 2.5vw;
    font-size: 2vw;
    border: none;
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.backvehicle {
    left: 2vw;
}

.nextvehicle {
    right: 2vw;
}

.nextvehicle:hover, .backvehicle:hover {
    background-color: rgba(140, 0, 255, 0.8);
}